<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
        <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>

    <ion-title>
      FotosGram
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <!-- Refresher -->

  <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- posts -->
  <app-posts [posts]="posts"></app-posts>

  <!-- infinite scroll -->

  <ion-infinite-scroll threshold="25%" [disabled]="disabled" position="bottom" (ionInfinite)="nextPosts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando posts">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
